@use 'mixins';
@use 'variables';

* {
    @include mixins.default-config();
}

.container {
    @include mixins.div-size(90%, 100vh);
    background-color: variables.$secondary-color;
    margin: 0 auto;

    .box {
        @include mixins.div-size(300px, 200px);
        background-color: purple;

        &:hover {
            background-color: variables.$primary-color;
        }
    }
}