.container {
    width: 80%;
    margin: 0 auto;
    border: 10px solid #9f0627;
    height: 600px;

    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);

    justify-content: center;
    align-content: center;


    /* start, end, center, stretch */
    /* justify-items: start;
    align-items: end; */
}

.item {
    padding: 10px;
    background-color: #fe6f8e;
    color: white;
    border: 10px solid #ff315e;
}

/* .item-1 {
    justify-self: center;
    align-self: center;
} */