/* IMPORTAÇÃO DE FONTE DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    background-color: #1e2235;
    color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

nav img {
    width: 54px;
    height: 54px;
}

.linha {
    border-left: 1px solid #fff;
    height: 30px;
}

.btn-outline {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid #8b5cf6;
    background-color: #8b5cf6;
    border-radius: 5px;
    padding: 10px 15px;
}


.banner-header {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

    padding-top: 5rem;
}

.esquerda {
    width: 40%;
    min-width: 380px;
}

.direita {
    width: 55%;
    min-width: 380px;
    background-color: aquamarine;
}

.banner-header h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #8b5cf6;
    letter-spacing: 2px;
}